.main-container {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(125deg, #1893a2, #101733);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  .switch-container {
    position: absolute;
    bottom: 100px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
  }
}
body,
html {
  background-color: #1d1c25;
  margin: 0;
  padding: 0;
}

.range {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  margin-top: 10px;
  transform: translate(-50%, -50%);
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgba(59, 173, 227, 1);
  background: linear-gradient(
    45deg,
    rgba(59, 173, 227, 1) 0%,
    rgba(87, 111, 230, 1) 25%,
    rgba(152, 68, 183, 1) 51%,
    rgba(255, 53, 127, 1) 100%
  );
  height: 40px;
  border: 1px solid;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  // border-radius: 50%;
  height: 100%;
  width: 40px;
  max-width: 80px;
  position: relative;
  bottom: 0px;
  background-color: #1d1c25;
  cursor: -webkit-grab;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.range.blue::-webkit-slider-thumb {
  border-color: rgb(59, 173, 227);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.range.ltpurple::-webkit-slider-thumb {
  border-color: rgb(87, 111, 230);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.range.purple::-webkit-slider-thumb {
  border-color: rgb(152, 68, 183);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.range.pink::-webkit-slider-thumb {
  border-color: rgb(255, 53, 127);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

input[type="range"]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

.swipe-tag {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 80px;
  left: 35%;
}
