.preview-main-container {
  position: absolute;
  top: -110px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  display: grid;
  overflow: hidden;
  transition: all 2s smooth;
}

.cards-main-container {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(95deg, rgb(0 0 0) -40%, #ffffff42 400%);
  transition: all 2s smooth;
}

.cards-sub-container {
  width: 90%;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: absolute;
  bottom: 10px;
  transition: all 2s smooth;
  left: 0;
}
.cards-sub-container:first-child() {
  float: left;
}
.cards-sub-container:last-child() {
  float: right;
}

.cards-sub-container2 {
  width: 100%;
  position: relative;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
  z-index: 0;
  overflow: hidden;
}

.card.active {
  opacity: 1;
  animation: fronte 0.3s linear;
  z-index: 1;
  transition: all 1s cubic-bezier(0, 0.77, 0.2, -0.23);
  animation: display 0.2s linear;
}

.card img {
  height: 100%;
  width: 100%;
}

@keyframes display {
  0% {
    z-index: 0;
    opacity: 0.5;
  }
  25% {
    z-index: 0.3;
    opacity: 0.6;
  }
  50% {
    z-index: 0.5;
    opacity: 0.7;
  }
  75% {
    z-index: 0.7;
    opacity: 0.8;
  }
  85% {
    z-index: 0.7;
    opacity: 0.9;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}

@keyframes fronte {
  from {
    z-index: 0.6;
    transform: scale(0.9);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    z-index: 1;
    opacity: 1;
  }
}

.card1 {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  z-index: 1;
}

.card2 {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  z-index: 0;
}

.card3 {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  z-index: 0;
}

.card4 {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  z-index: 0;
}

.card5 {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  z-index: 0;
}

.card6 {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  z-index: 0;
  overflow: hidden;
}

.card6 img {
  height: 100%;
  width: 100%;
}

.cards-sub-container2 .card.active:nth-child(1n + 0) {
  transition: all 0.5s ease-out;
}

.cards-sub-container2 :nth-child(2n + 0) {
  transition: all 0.5s ease-out;
}

.cards-sub-container2 :nth-child(3n + 0) {
  transition: all 0.5s ease-out;
}

.slider-btn {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-btn img {
  height: 60%;
  width: 60%;
}

#d1 {
  z-index: 0;
}

#d2 {
  z-index: 0;
}

#d3 {
  z-index: 0;
}

#d4 {
  z-index: 0;
}

#d5 {
  z-index: 0;
}

#d6 {
  z-index: 0;
}

.under-line {
  height: 5px;
  width: 70px;
  border-radius: 10px;
  background-image: linear-gradient(125deg, #1893a2, #101733);
  display: block;
  filter: drop-shadow(5px 6px 4px rgba(10, 22, 132, 0.3));
  margin: 10px auto 20px;
}
