.ham-main-container {
  height: 100vh;
  width: 100%;
  z-index: 97;
}

.ham-container1 {
  height: 15%;
  width: 100%;
  background-color: azure;
  z-index: 9;
  position: relative;

  .ham-sub-container1 {
    height: 100%;
    width: 95%;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(125deg, #1893a2, #101733);
    border-bottom-left-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5%;
  }
}
.logo {
  float: right;
  height: 50px;
  width: 50px;
  background-color: red;
}
.ham-burger {
  float: right;
  height: 40px;
  width: 40px;
  padding: 5px;

  svg {
    height: 100%;
    border-radius: 50px;
    width: 100%;
  }
}
.ham-container2 {
  height: 85%;
  width: 100%;
  background-color: #101733;
  z-index: 9;
  position: relative;

  .ham-sub-container2 {
    border-top-right-radius: 40px;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    // background-image: radial-gradient(azure, blue);
    background-color: azure;
    .content-main-container {
      height: 98%;
      width: 90%;
      padding: 0 5%;
      overflow-y: auto;
      margin: 10px 0;
    }
  }
}

// @keyframes galaxy {
//   100% {
//     transform: rotate(-360deg);
//   }
// }
