.header {
  height: 50px;
  width: 95%;
  padding: 2.5%;
  font-size: 2em;
}

#nav-icon1 {
  width: 35px;
  height: 35px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 10;
  float: right;
  margin: 10px auto;
}

#nav-icon1 {
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background-color: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon1 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon1 span:nth-child(1),
#nav-icon1 span:nth-child(2) {
  top: 0px;
}

#nav-icon1 span:nth-child(3),
#nav-icon1 span:nth-child(4) {
  top: 10px;
}

#nav-icon1 span:nth-child(5),
#nav-icon1 span:nth-child(6) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1),
#nav-icon1.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon1.open span:nth-child(2),
#nav-icon1.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon1.open span:nth-child(1) {
  left: 0px;
  top: 12px;
  background-color: white;
}

#nav-icon1.open span:nth-child(2) {
  left: calc(35% - 0px);
  top: 12px;
  background-color: white;
}

#nav-icon1.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
  background-color: white;
}

#nav-icon1.open span:nth-child(4) {
  /* left: 100%; */
  opacity: 0;
  background-color: white;
}

#nav-icon1.open span:nth-child(5) {
  left: 0px;
  top: 25px;
  background-color: white;
}

#nav-icon1.open span:nth-child(6) {
  left: calc(35% - 0px);
  top: 25px;
  background-color: white;
}

.nav-tray {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0px;
  right: 0px;
  /* transition: all 0.5s ease-in-out; */
  background-image: linear-gradient(120deg, gray, transparent, gray);
  z-index: 9;
}

.nav-tray .nav-sub-tray {
  height: 60%;
  width: 60%;
  position: fixed;
  top: 10px;
  right: 10px;
  background-image: linear-gradient(125deg, #1893a2, #101733);
  z-index: 9;
  transition: all 0.5s ease-in-out;
  border-bottom-left-radius: 40px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.nav-content {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.nav-row {
  height: 50px;
  width: 100%;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: 600; */
}

.nav-row:hover {
  filter: drop-shadow(5px 6px 4px rgba(10, 22, 132, 0.3));
  color: gray;
}

a {
  text-decoration: none;
  color: white;
}
