.testimonial-container {
  display: flex;
  overflow: scroll;
  width: 100%;
  scroll-snap-type: x mandatory;
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.3));

  .testimonial-cards {
    height: 200px;
    min-width: 85%;
    position: relative;
    margin-left: 30px;
    background-size: contain;
    border-radius: 10px;
    overflow: hidden;
    top: 0%;
    left: -15px;
    scroll-snap-align: center;
    scale: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
  }
}
.testimonial-image {
  content: "";
  height: 65px;
  width: 65px;
  background-color: white;
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.1));
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
}
.testimonial-image img {
  height: 100%;
  width: 100%;
}
.testimonial-container::-webkit-scrollbar {
  display: none;
}

.testimonial-content {
  height: 100px;
  width: 90%;
  font-size: 15px;
  margin: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 25px;
}
.testimonial-name {
  width: 100%;
  text-align: end;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.add-thought-btn-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .add-thought-btn {
    background-image: linear-gradient(125deg, #38919c, #101733);
    padding: 10px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.3));
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
  }
}
.form {
  height: 100vh;
  background-image: linear-gradient(125deg, #38919c, #101733);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: all ease-in-out 0.5s;
}

.form-content {
  height: 300px;
  width: 330px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
}

input[type="text" i] {
  height: 20px;
  border: none;
  padding: 10px;
  background-color: transparent;
  border-bottom: 2px solid black;
  width: 100%;
  font-size: 15px;
}

.input-row {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 90%;

  input:focus-visible {
    outline: none;
    filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.3));
  }
  label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: gray;
    font-size: 15px;
    transition: all ease-in-out 0.5s;

    &.active {
      transform: translateY(-20px) scale(0.8);
      transform-origin: 0 0;
      color: black;
      transition: all ease-in-out 0.5s;
      border-radius: 0;
    }
  }
}
input[type="text" i]:focus-visible + label {
  transform: translateY(-20px) scale(0.8);
  transform-origin: 0 0;
  color: black;
  transition: all ease-in-out 0.5s;
  border-radius: 0;
}

.form-close {
  font-size: 30px;
  text-align: end;
  display: flex;
  padding: 0px 5%;
  flex-direction: row-reverse;
  align-self: flex-end;
}

.gender-container {
  display: flex;
  width: 65%;
  justify-content: space-evenly;
  height: 50px;
}
.gender-sub-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.submit {
  width: 80px;
  padding: 10px;
  color: white;
  background-image: linear-gradient(125deg, #38919c, #101733);
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
