.copy-container {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-content {
  height: 100%;
  width: 80%;
  align-self: center;
  font-size: 13px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.3));
}
