.self-info-container {
  height: auto;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px;
}

.template-parent {
  height: 250px;
  width: 100%;
  img {
    height: 100%;
    width: 100%;
    background-color: transparent;
  }
}

.Profile-Container {
  height: 70px;
  width: 100%;

  .Profile-picture-Container {
    width: 60%;
    height: 80%;
    background-image: linear-gradient(125deg, #1893a2, #101733);
    border-radius: 0 40px 40px 0;
    padding: 5px 5px;
    box-shadow: rgb(100 100 111 / 20%) 10px 15px 20px;
    position: relative;
  }

  .profile-picture {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    float: right;
    background-color: black;
    overflow: hidden;
  }
  .profile-picture img {
    height: 100%;
    width: 100%;
  }
}
.Profile-picture-Container ::after {
  position: absolute;
  bottom: -39px;
  left: -13px;
  height: 25px;
  width: 20px;
  content: "";
  clear: both;
  border: 15px solid;
  border-color: transparent transparent transparent #1b7d89;
  border-radius: 31px;
  rotate: 33deg;
}

.profile-content {
  width: 90%;
  padding: 5%;
}

.profile-table-container {
  width: 100%;
}

.profile-table-row {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2px 0;
  border-bottom: 2px dotted rgba(128, 128, 128, 0.3);
}

.profile-table-data {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 2.5%;
  font-size: 14px;
}

.profile-table-data a {
  color: blue;
  text-decoration: underline;
  line-height: 50px;
}
.profile-table-tag {
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 2.5%;
  font-size: 15px;
  color: gray;
  text-align: center;
}

.profile-table-row :nth-child(2) {
  width: 80%;
}
